

@import '../mixins';
@import '../animations';


.intro {
    height: 100%;
    width: 100vw;
    padding: 7rem 0.5rem 3rem 0.5rem;
    display: flex;
    flex-direction: column;    
    @include gradient;


    &_left {
        width: 100%;
        display: flex;
        align-items: center;
        

        &_wrapper {
            padding: 2rem;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }


        &_name {
            font-size: 1.2rem;
            color: $gold;
            opacity: 0.5;
        }

        &_skill {
            margin: 2rem 0 0 0;
            padding: 0;
            font-size: 2rem;
            font-weight: 700;
            color: $gray-300;
            text-align: center;
        }
    }

    

    &_description {
        font-size: 1rem;
        padding: 0.3rem 0 0.3rem 0;
        color: $gold;
        opacity: 0.5;
        text-align: center;
    }


    &_right {
        width: 100%;

        &_wrapper {
            padding: 2rem;
        }


        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}


@media screen and (min-width: 720px) {
    .intro {
        padding: 6rem 1rem 1rem 3rem;
        flex-direction: row;
        text-align: center;
        //height: 100vh;


        &_left {
            flex: 1;
            flex-shrink: 1;
            width: 50%;



            &_wrapper {
                padding-top: 1rem;
                width: 100%;
                height: 100%;
                justify-content: space-between;
                align-items: flex-start;
            }


            &_name { 
                font-size: 1.5rem;
                padding: 0;
                margin: 0;
            }


            &_skill {
                font-size: 3rem;
                margin: 0;
                padding: 0;
                text-align: left;
            }
        

            &_desc {
                text-align: center;
            }
        }
            

    


        &_right {
            flex: 1;
            flex-shrink: 1;
            width: 50%;
            height: 100%;


            &_wrapper {
                height: 100%;
            }
        }
    }  
}