
.projectsPage {
    height: 100%;
    width: 100%;
    padding: 5rem 1rem;


    .title {
       @include titleHeading-small;


       // Heading Line
       &_headingLine::before {
        content: "";
        width: 10rem;
        height: 0.1rem;
        margin: 0 auto;
        display: block;
        background-color: $primary;
    }

    &_headingLine::after {
        content: "";
        width: 2rem;
        height: 0.2rem;
        padding-top: 0.5rem;
        margin: 0 auto;
        margin-bottom: 1rem;
        display: block;
        background-color: $primary;
    }


    p {
        text-align: center;
    }
    }


    &_wrapper {
        width: 100%;
        margin-top: 3rem;
    }

    &_items {
        //width: 100%;

        padding: 1rem;
        margin: 0 -2rem;
        display: flex;
        box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
        overflow-x: scroll;
        scroll-snap-type: x mandatory;

    }
} 
