html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.8;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}
body a {
  text-decoration: none;
  color: #dee2e6;
}

.projects {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 1px solid #ced4da;
  border-radius: 5% 5% 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}
.projects_header {
  width: 100%;
  height: 10%;
  background-color: #536976;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: sticky;
  z-index: 10;
}
.projects_header_circle {
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  border-radius: 50%;
}
.projects_header_circle:first-child {
  background-color: #dc143c;
}
.projects_header_circle:nth-child(2) {
  background-color: #c4bc21;
}
.projects_header_circle:nth-child(3) {
  background-color: #e9ecef;
}
.projects_image {
  width: 100%;
  -webkit-transition: all 10s ease;
  transition: all 10s ease;
}
.projects:hover .projects_image {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
  .projects {
    width: 100%;
    height: 50vh;
    margin-bottom: 2rem;
  }
}
.nav {
  width: 100%;
  height: 70px;
  padding: 0.5rem 2rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 46, 73, 0.95)), to(rgba(83, 105, 118, 0.8)));
  background: linear-gradient(to right, rgba(41, 46, 73, 0.95), rgba(83, 105, 118, 0.8));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  outline: #ced4da;
}
.nav a {
  color: #ced4da;
}
.nav .navlinks_list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes slide-up {
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes slide-up {
  50% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}
.intro {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 46, 73, 0.95)), to(rgba(83, 105, 118, 0.8)));
  background: linear-gradient(to right, rgba(41, 46, 73, 0.95), rgba(83, 105, 118, 0.8));
}
.intro_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.intro_left_wrapper {
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.intro_left_welcome {
  font-size: 2rem;
  color: #dee2e6;
}
.intro_left_name {
  font-size: 4rem;
  font-weight: 700;
  color: #dee2e6;
}
.intro_expertise {
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.intro_expertise_wrapper {
  height: 100%;
  -webkit-animation: slide-up 5s ease-in-out infinite alternate;
          animation: slide-up 5s ease-in-out infinite alternate;
}
.intro_expertise_item {
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  -ms-flex-item-align: center;
      align-self: center;
}
.intro_desc {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
  color: #ced4da;
}
.intro_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.intro_right_wrapper {
  padding: 2rem;
}
.intro_right_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 480px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: 100%;
  }
  .intro_left_wrapper {
    padding: 2rem;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .intro_left_welcome {
    font-size: 1.8rem;
  }
  .intro_expertise {
    height: 50px;
  }
  .intro_expertise_item {
    height: 50px;
  }
}
.about {
  height: 100vh;
  padding: 5rem;
  padding-bottom: 2rem;
}
.about_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.about_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.about_card.bg {
  position: absolute;
  top: 20px;
  left: 50px;
  background-color: rgba(83, 105, 118, 0.6);
}
.about_card {
  width: 60%;
  height: 70%;
  position: absolute;
  border-radius: 2.5rem;
  overflow: hidden;
}
.about_card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
}
.about_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}
.about_right .title {
  font-size: 2rem;
  text-align: center;
}
.about_right .title_headingLine::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  margin: 0 auto;
  display: block;
  background-color: #292E49;
}
.about_right .title_headingLine::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  background-color: #292E49;
}
.about_right p {
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .about {
    padding: 5rem 1rem;
    margin-bottom: 13rem;
    text-align: center;
  }
  .about_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about_left {
    width: 100%;
    text-align: center;
  }
  .about_card.bg {
    display: none;
  }
  .about_card {
    width: 90%;
    height: 100%;
    position: relative;
  }
  .about_card img {
    position: relative;
  }
  .about_right {
    width: 100%;
  }
}
.skills {
  background: -webkit-gradient(linear, left top, right top, from(rgba(41, 46, 73, 0.95)), to(rgba(83, 105, 118, 0.8)));
  background: linear-gradient(to right, rgba(41, 46, 73, 0.95), rgba(83, 105, 118, 0.8));
  padding: 5rem;
  padding-top: 0;
}
.skills .title {
  padding-top: 2rem;
  margin: 0;
  font-size: 3rem;
  text-align: center;
}
.skills .title_headingLine::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  margin: 0 auto;
  display: block;
  background-color: #292E49;
}
.skills .title_headingLine::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  background-color: #292E49;
}
.skills p {
  text-align: center;
}
.skills_block {
  width: 100%;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills_block h3 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.skills_wrapper {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 2px solid #292E49;
}
.skills_wrapper.tech {
  margin-bottom: 2rem;
}
.skills_holder {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  margin: 1rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 4rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.skills_holder_item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.skills_holder_item img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 480px) {
  .skills {
    padding: 3rem 1rem;
  }
  .skills_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 30vh;
  }
  .skills_block h3 {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0;
  }
  .skills_wrapper.tech, .skills_wrapper.design {
    width: 100%;
    border: none;
  }
  .skills_holder {
    margin: 0;
    padding: 0;
  }
}
.portfolio {
  padding: 5rem;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.portfolio .title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
}
.portfolio .title_headingLine::before {
  content: "";
  width: 10rem;
  height: 0.1rem;
  margin: 0 auto;
  display: block;
  background-color: #292E49;
}
.portfolio .title_headingLine::after {
  content: "";
  width: 2rem;
  height: 0.2rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
  background-color: #292E49;
}
.portfolio_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.portfolio .horizontalLine {
  height: 1px;
  width: 70%;
  background-color: #536976;
}

@media screen and (max-width: 480px) {
  .portfolio {
    padding: 5rem 1rem;
    height: 100%;
  }
  .portfolio_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3rem;
  }
  .portfolio .horizontalLine {
    margin-top: 2rem;
  }
}
.contact {
  width: 100%;
  height: 100vh;
  position: relative;
}
.contact_sideLine {
  width: 20px;
  height: 100%;
  background-color: #536976;
  position: absolute;
}
.contact_wrapper {
  width: calc(100% - 25px);
  margin-left: 1.5rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact_left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contact_left h2 {
  font-size: 3rem;
  width: 80%;
}
.contact_right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact_right p {
  font-weight: 200;
}
.contact_right p span {
  font-weight: bold;
}
.contact_right form {
  width: 90%;
  margin-top: 1.5rem;
}
.contact_right form input {
  width: 60%;
  height: 2.5rem;
  margin: 0.2rem 0;
  font-weight: 200;
  border: none;
  border-bottom: 1px solid #ced4da;
  margin-bottom: 0.125rem;
  outline: none;
}
.contact_right form textarea {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #ced4da;
  border-radius: 3%;
}

@media screen and (max-width: 480px) {
  .contact_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 5px);
    padding: 3rem 0;
    margin-left: 0.5rem;
  }
  .contact_sideLine {
    width: 5px;
    left: 0;
    bottom: 0;
  }
  .contact_left h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }
  .contact_right p {
    text-align: center;
    font-size: 0.9rem;
  }
}